<!-- { {  JSGlue.include() }} -->
<!DOCTYPE html>
<html lang="en">

<head>
  <title>GoLocal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="shortcut icon" href="https://www.favicon.cc/logo3d/525630.png" type="image/x-icon">
  <script src="{{url_for('static',filename='dist/jquery.js')}}">
  </script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
</head>

<body>
  <nav class="navbar shadow navbar-dark ">
    {% if current_user.is_authenticated %}
    <i class="material-icons material-icons-outlined pr-3 pl-1 px-sm-3 d-md-none d-block text-light sidebar-btn"
      style="font-size: 40px; margin: 0;cursor: pointer;">menu</i>
      <a class="navbar-brand active" href="{{ url_for('home') }}">GoLocal</a>
      {% else %}
      <a class="navbar-brand active" href="{{ url_for('index') }}">GoLocal</a>
      {% endif %}
    <div class="ml-auto d-flex flex-row ">
      {% if current_user.is_authenticated %}
      <a href="{{url_for('home')}}" class="mr-3 nav-item nav-link d-md-block d-none">Home</a>
      <div class="dropdown dropleft d-md-block d-none">
        <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <img title="Menu" src="{{ url_for('static', filename= 'profile_pics/'+current_user.image_file) }}"
            class="profile-img "> <span class="dropdown-toggle"></span>
        </a>
        <div class="dropdown-menu shadow bg-light " style="z-index: 1021;" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="{{ url_for('account') }}">Profile</a>
          <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
        </div>
      </div>
      {% else %}

      <ul class="navbar-nav d-flex flex-row ">
        <li class="nav-item">
          <a class="nav-item mx-2 nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-item mx-2 nav-link" href="{{ url_for('register') }}">SignUp</a>
        </li>
      </ul>
      {% endif %}
    </div>
  </nav>
  <div class="overlay"></div>
  <div class="d-md-none d-flex h-100 flex-column bg-white shadow-lg mobileMenu">
    <div class="d-flex px-2 py-1 border-bottom justify-content-around sticky-top text-light"
      style=" background-color: rgb(120, 3, 133);cursor: pointer;">
      <span class="navbar-brand" href="#">GoLocal</span>
      <span class="ml-auto pt-1">
        <i class="material-icons material-icons-outlined sidebar-btn">clear</i>
      </span>
    </div>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('account') }}" class=" my-2 py-2 d-flex justify-content-start align-items-center">
      <img title="Menu" src="{{ url_for('static', filename= 'profile_pics/'+current_user.image_file) }}"
        class="profile-img rounded-circle mx-3">
      <div>
        <p class="prof-menu-text m-0 small">{{current_user.username}}</p>
        <p class="prof-menu-text m-0 small">{{current_user.email}}</p>
      </div>
    </a>
    <hr>
    <br>
    <a href="{{url_for('home')}}" class="mr-3 nav-item nav-link">Home</a>
    <!-- <a href="{ {url_for('new_post')}}" class="nav-item nav-link">New Post</a>
    <a href="{ { url_for('user_posts', username=current_user.username) }}" class="nav-item nav-link ">My Posts</a> -->
    <a class="nav-item nav-link" href="{{ url_for('account') }}">Profile</a>
    <a class="nav-item nav-link " href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
  </div>
  <div class="container-sm container-fluid">
    
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}

    <div class="alert alert-{{ category }}">
      <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <small class="d-sm-none d-block">{{ message }}</small>
      <span class="d-sm-block d-none">{{ message }}</span>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </div>

  <script src="{{url_for('static',filename='dist/popper.js')}}">
  </script>
  <script src="{{url_for('static',filename='dist/bootstrap.js')}}">
  </script>

  <script>
    $(document).ready(function () {
      var fixedHeight = function () {
        $(".mobContent").css(
          "max-height",
          document.documentElement.clientHeight - 150
        );
      };

      fixedHeight();
      $(".sidebar-btn").on("click", function () {
        fixedHeight();
      });

      $(".sidebar-btn, .overlay").click(function (e) {
        $(".mobileMenu, .overlay").toggleClass("open");
      });
    });

  </script>
</body>

</html>